
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-light">
        <div class="container">
          <br>
          <br>
          <br>
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a><%= link_to 'Search Products Here', search_path, class:"btn btn-primary btn-lg" %></a></p>
          <br>
          <br>
          <br>
        </div>
      </div>

<div class="container">

       <section class="jumbotron text-center">
       <br>
        <div class="container">
          <h4 class="display-6">Latest Products</h4>
          <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>
      <hr>

<div class="container">
   <div class="album py-5">
        <div class="container">

          <div class="row">

            <% @products.with_attached_image.each do |product| %> 
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <% if product.image.attached? %>
                <%= link_to image_tag(product.image, class:"card-img-top"), product %>
              <% end %>
                <div class="card-body">
                  <h5><%= link_to product.name, product %></h5>
                  <p class="card-text"><%= truncate(product.description, :lenght => 100) %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'See Details', product, class:"btn btn-primary" %>
                    </div>
                    <small class="text-muted"><%= product.price %></small>
                  </div>
                </div>
              </div>
            </div>
           <% end %>

          </div>
        </div>
      </div>

        <hr>

    </div> <!-- /container -->
</div>
</div>