<h1 style="text-align: center;">Your Shopping Cart</h1>


<div class="container">
        <div class="row no-gutters">
            <div class="col-16 col-sm-8 col-lg-6 m-auto">
                    <div class="card">
            <div class="card-body">
            <div class="col-md-12">
                <div class="product-details mr-2">
                    <div class="d-flex flex-row align-items-center">
                    <span><%= link_to 'Continue Shopping', products_path %></span>
                    </div>
                    <hr>
                    <h6 class="mb-0">Shopping cart</h6>
                    <div class="d-flex justify-content-between"><span>You have <%= @cart.line_items.count %> items in your cart</span>
                        <div class="d-flex flex-row align-items-center"><span class="text-black-50">Quantity/</span>
                            <div class="price ml-2"><span class="mr-1">price</span></div>
                        </div>
                    </div>

                    <% @cart.line_items.each do |li| %>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row">
                            <% if li.product.image.attached? %>
                               <%= image_tag(li.product.image, class:"rounded", width:"40") %>
                            <% end %>
                            <div class="ml-2"><span class="font-weight-bold d-block"><%= li.product.name %></span></div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <span class="d-block"><%= li.quantity %>* </span> <span class="d-block ml-5 font-weight-bold"> <%= format_price(li.product.price) %></span>
                        </div>
                    </div>
                    <hr>
                   <% end %>

                </div>
                </div>
                <p style="text-align: right;">Total Price: <%= format_price(@cart.total_price) %></p>

               <div class="button-container">
                    <% unless  !@cart.line_items.any? %>
                      <%= button_to 'Checkout', new_order_path, method: :get, class:"btn btn-primary btn-md" %>
                      <%= button_to 'Delete Card', cart_path(@cart), method: :delete, class:"btn btn-danger btn-md" %>
                    <% end %>
                </div>

            </div>
            </div>
        </div>
    </div>


