<div class="container">
<section class="jumbotron text-center">
<br>
        <div class="container">
          <h3 class="display-6">All Products</h3>
          <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>
      <hr>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <% @products.with_attached_image.each do |product| %> 
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <% if product.image.attached? %>
                <%= link_to image_tag(product.image, class:"card-img-top"), product %>
              <% end %>
                <div class="card-body">
                  <h5><%= link_to product.name, product %></h5>
                  <p class="card-text"><%= truncate(product.description, :lenght => 100) %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'Details', product, class:"btn btn-sm btn-primary" %>
                    </div>
                    <small class="text-muted"><%= format_price(product.price) %></small>
                  </div>
                </div>
              </div>
            </div>
           <% end %>

        <div class="col-lg-12 text-center">
          <div class="apple_pagination">
            <div class="page_info">
             <%= page_entries_info @products %>
            </div>
            <%= will_paginate @products, :container => false %>
          </div>
        </div>

          </div>
        </div>
      </div>

</div>

