<br>
<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
              <% if @product.image.attached? %>
                <%=  image_tag(@product.image, class:"card-img-top") %>
              <% end %>

					</div>
					<div class="details col-md-6">
					<div class="container">
                    <br>
						<h3 class="product-title"><%= @product.name %></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description"><%= @product.description %></p>
						<h4 class="price">Price: <span><%= @product.price %></span></h4>
						<p class="vote"><strong>Category: </strong> <%= @product.product_category.name %> <strong></strong></p>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<div class="action">
							<button type="button" class="btn btn-primary">Add to Cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					   <br>
                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!---
<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
--->